node {
	size: 10px, 15px;
	fill-color: black;
	stroke-mode: plain;
	text-alignment:under;
}



node.AGFunction{
	size : 20px, 30 px;
	fill-color:blue;
	shape: circle;
}

node.Variable{
	fill-color:green;
	shape:triangle;
	size : 15px, 25 px;
}